<div class="col-xs-12 col-md-6">
    <div class="block dark">
        <h2>Maak even een gratis account aan</h2>
        <div class="col-xs-12" style="margin-bottom: 20px">
            Met een gratis account kun je:<br>
            * alle gratis video's bekijken<br>
            * je favorieten video's opslaan<br>
            * de video's delen met je vrienden<br>
            * je online inschrijven voor workshops, sessies en cursussen<br>
        </div>

        <h2>Inloggen</h2>
        <div class="row">
            <form action="{{ path("account_login_check") }}" method="post">
                {% if referer is defined and referer is not empty %}
                    <input type="hidden" name="_target_path" value="{{ referer }}">
                {% endif %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                <input type="hidden" id="remember_me" name="_remember_me" value="on" checked/>
                <div class="col-xs-12">
                    {% if successmessage is defined %}
                        <div class="col-xs-12" style="color: green">{{ successmessage }}</div>
                    {% endif %}

                    {% if error is defined and error is not empty %}
                        <div class="col-xs-12" style="color: red">{{ error.messageKey | trans( error.messageData, 'security' ) }}</div>
                    {% endif %}

                    <div class="input col-xs-12">
                        <div class="input-group col-xs-12">
                            <label>Gebruikersnaam:</label>
                            <input type="text" class="form-control input-aazaa  col-xs-8" name="_username" value="" placeholder="Gebruikersnaam" required="required" />
                        </div>
                    </div>

                    <div class="input col-xs-12">
                        <div class="input-group col-xs-12">
                            <label>Wachtwoord:</label>
                            <input type="password" class="form-control input-aazaa col-xs-8" name="_password" placeholder="Wachtwoord" required="required" />
                        </div>
                    </div>

                </div>
                <div class="col-xs-12">
                    <br>
                    <a class="pull-left" style="text-decoration: underline" href="{{ path('account_reset_pass') }}">Wachtwoord vergeten?</a>
                    <input type="submit" id="_submit_login" name="_submit" value="Inloggen" class="btn btn-aazaa pull-right" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-6">
    <div class="block dark">
        <h2>Aanmelden</h2>
        <div class="row">
            <form action="{{ path("account_register") }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token('register') }}" />
                <div class="col-xs-12">
                    {% if errormessage is defined %}
                        <div class="col-xs-12" style="color: red">{{ errormessage }}</div>
                    {% endif %}


                    <div class="input col-xs-12">
                        <div class="input-group col-xs-12">
                            <label>Gebruikersnaam: *</label>
                            <input type="text" pattern=".{5,}" oninvalid="this.setCustomValidity('Gebruikersnaam is verplicht en dient minimaal 5 tekens lang te zijn')" oninput="this.setCustomValidity('')" class="form-control input-aazaa col-xs-8" name="username" placeholder="Gebruikersnaam" required="required" value="{% if username is defined %}{{ username }}{% endif %}" />
                        </div>
                    </div>

                    <div class="input col-xs-12">
                        <div class="input-group col-xs-12">
                            <label>E-mailadres: *</label>
                            <input type="email" class="form-control input-aazaa col-xs-8" name="email" value="{% if email is defined %}{{ email }}{% endif %}" placeholder="E-mailadres" required="required" />
                        </div>
                    </div>

                    <div class="input col-xs-12">
                        <div class="input-group col-xs-12">
                            <label>Wachtwoord: *</label>
                            <input type="password" pattern=".{5,}" oninvalid="this.setCustomValidity('Wachtwoord is verplicht en moet minimaal 5 tekens lang zijn')" oninput="this.setCustomValidity('')" class="form-control input-aazaa col-xs-8" name="password" placeholder="Wachtwoord" required="required" />
                        </div>
                    </div>
                    <div class="input col-xs-12">
                        <div class="input-group col-xs-12">
                            <label>Herhaal Wachtwoord: *</label>
                            <input type="password" pattern=".{5,}" oninvalid="this.setCustomValidity('Wachtwoord is verplicht en moet minimaal 5 tekens lang zijn')" oninput="this.setCustomValidity('')" class="form-control input-aazaa col-xs-8" name="password_check" placeholder="Wachtwoord controle" required="required" />
                        </div>
                    </div>

                    <div class="checkbox input col-xs-12">
                        <label><input name="mailing" type="checkbox" value="1">Inschrijven voor de mailing</label>
                    </div>

                    <div class="checkbox input col-xs-12">
                        <label>
                            <input name="privacystatement" type="checkbox" value="1" oninvalid="this.setCustomValidity('Je dient akkoord te gaan met de algemene voorwaarden en de privacystatement')" oninput="this.setCustomValidity('')" required>
                            Je gaat akkoord met de <a style="text-decoration: underline" target="_blank" href="{{ path('privacy_statement') }}"> algemene voorwaarden en privacystatement</a>
                        </label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <input type="submit" id="_submit" name="_submit" value="Aanmelden" class="btn btn-aazaa pull-right" />
                </div>
            </form>
        </div>
    </div>
</div>