{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Locatie</h1>
        </div>
        <div class="col-xs-12">
            <form method="post" action="{{ path('admin_workshop_location_edit') }}">
                <input type="hidden" name="id" value="{% if location is defined and location is not empty %}{{ location.id }}{% endif %}">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" name="name" value="{% if location is defined and location is not empty %}{{ location.name }}{% endif %}" required>
                </div>
                <div class="form-group">
                    <label for="street">Straat</label>
                    <input class="form-control" id="street" name="street" value="{% if location is defined and location is not empty %}{{ location.street }}{% endif %}" >
                </div>
                <div class="form-group">
                    <label for="houseNumber">Huisnummer</label>
                    <input class="form-control" id="houseNumber" name="houseNumber" value="{% if location is defined and location is not empty %}{{ location.houseNumber }}{% endif %}" >
                </div>
                <div class="form-group">
                    <label for="zipcode">Postcode</label>
                    <input class="form-control" id="zipcode" name="zipcode" value="{% if location is defined and location is not empty %}{{ location.zipcode }}{% endif %}" >
                </div>
                <div class="form-group">
                    <label for="city">Plaats</label>
                    <input class="form-control" id="city" name="city" value="{% if location is defined and location is not empty %}{{ location.city }}{% endif %}" >
                </div>

                <div class="form-group">
                    <label for="description">Omschrijving</label>
                    <textarea class="form-control" id="description" name="description">{% if location is defined and location is not empty %}{{ location.description }}{% endif %}</textarea>
                </div>

                <div class="form-group">
                    <label for="price">Prijs</label>
                    <input type="number" class="form-control" id="price" name="price" value="{% if location is defined and location is not empty %}{{ location.price }}{% endif %}" >
                </div>

                <div class="form-group">
                    <label for="color">Kleur</label>
                    <input type="color" class="form-control" id="color" name="color" value="{% if location is defined and location is not empty %}{{ location.color }}{% endif %}" >
                </div>


                <div class="input-group" style="margin-bottom: 20px">
                    <span class="input-group-addon">
                        <input type="checkbox" id="is_video" name="is_video" value="1" {% if location is defined and location is not empty and location.isVideo %}checked{% endif %}/>
                    </span>

                    <label class="form-control" for="is_video">Is een video locatie</label>
                </div>


                <a href="{{ path('admin_workshop_location_index') }}" class="btn btn-default pull-left">Terug</a>
                <button type="submit" class="btn btn-success pull-right">Opslaan</button>
            </form>
        </div>
    </div>
{% endblock %}
{% extends 'Admin/base.html.twig' %}

