{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Workshop / Sessies / Cursussen</h1>
        </div>
        <div class="col-xs-12">
            <form method="post" action="{{ path('admin_workshop_edit') }}">
                <input type="hidden" name="workshopId" value="{% if workshop is defined and workshop is not empty %}{{ workshop.id }}{% endif %}">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" id="title" name="title" value="{% if workshop is defined and workshop is not empty %}{{ workshop.title }}{% endif %}" required>
                </div>

                <div class="form-group">
                    <label for="type">Type</label>
                    <select name="type" class="form-control">
                        <option value="workshop" {% if workshop is not empty and workshop.location is not empty and workshop.type == 'workshop' %}selected{% endif %}>Workshop</option>
                        <option value="sessie" {% if workshop is not empty and workshop.location is not empty and workshop.type == 'sessie' %}selected{% endif %}>Sessie</option>
                        <option value="cursus" {% if workshop is not empty and workshop.location is not empty and workshop.type == 'cursus' %}selected{% endif %}>Cursus</option>
                    </select>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-3">
                        <label for="startDatetime">Start datum en tijd</label>
                        <input type="datetime-local" class="form-control" id="startDatetime" name="startDatetime" value="{% if workshop is defined and workshop is not empty %}{{ workshop.startDatetime|date('Y-m-d') }}T{{ workshop.startDatetime|date('H:i') }}{% endif %}" required>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        <label for="endDatetime">Eind datum en tijd</label>
                        <input type="datetime-local" class="form-control" id="endDatetime" name="endDatetime" value="{% if workshop is defined and workshop is not empty %}{{ workshop.endDatetime|date('Y-m-d') }}T{{ workshop.endDatetime|date('H:i') }}{% endif %}" required>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        <label for="price">Prijs</label>
                        <input type="number" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" onblur="this.value = parseFloat(this.value).toFixed(2);" class="form-control" id="price" name="price" value="{% if workshop is defined and workshop is not empty %}{{ workshop.price }}{% endif %}" required>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        <label for="seats">Beschikbare plaatsen</label>
                        <input type="number" step="1"  onblur="this.value = parseFloat(this.value).toFixed(0);" class="form-control" id="seats" name="seats" value="{% if workshop is defined and workshop is not empty %}{{ workshop.seats }}{% else %}4{% endif %}" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="location">Locatie</label>
                    <select name="location" class="form-control">
                        {% for location in locations %}
                            <option value="{{ location.id }}" {% if workshop is not empty and workshop.location is not empty and workshop.location.id == location.id %}selected{% endif %}>{{ location.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="description">Omschrijving Lang</label>
                    <textarea class="form-control" id="description" name="description">{% if workshop is defined and workshop is not empty %}{{ workshop.description }}{% endif %}</textarea>
                </div>

                <div class="form-group">
                    <label for="descriptionShort">Omschrijving Kort</label>
                    <textarea class="form-control" id="descriptionShort" name="descriptionShort">{% if workshop is defined and workshop is not empty %}{{ workshop.descriptionShort }}{% endif %}</textarea>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio" name="active" id="optionsRadios1" value="0" {% if workshop is defined and workshop is not empty and workshop.active == 0 %}checked{% endif %}> Niet online zichtbaar
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio" name="active" id="optionsRadios2" value="1" {% if workshop is defined and workshop is not empty and workshop.active != 1 %}{% else %}checked{% endif %}>Online zichtbaar
                    </label>
                </div>

                <a href="{{ path('admin_workshop_index') }}" class="btn btn-default pull-left">Terug</a>
                <button type="submit" class="btn btn-success pull-right">Opslaan</button>
            </form>
        </div>
    </div>
{% endblock %}
{% extends 'Admin/base.html.twig' %}

