<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="mobile-web-app-capable" content="yes">

        <title>Aazaa.org Admin</title>

        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/admin.css') }}" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}

        <script src="{{ asset('js/jquery-3-2-1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
        <script src="{{ asset('js/tinymce/langs/nl.js') }}"></script>
        {% block javascript_header %}{% endblock %}

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('images/favicons/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('images/favicons/safari-pinned-tab.svg') }}" color="#b3b565">
        <meta name="apple-mobile-web-app-title" content="Aazaa.org">
        <meta name="application-name" content="Aazaa.org">
        <meta name="msapplication-TileColor" content="#ffc40d">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
    {% if is_granted('ROLE_ADMIN') %}
        <input name="image" type="file" id="uploadTinyMce" class="hidden" onchange="">
        <nav class="navbar navbar-inverse sidebar" role="navigation">
            <div class="container-fluid">
                {% include 'Admin/menu.html.twig' %}
            </div>
        </nav>
        <div class="main">
            <div class="container">
                <div class="col-xs-12">
                    {% include 'Admin/flashMessages.html.twig' %}
                </div>
                {% block content %} {% endblock %}
            </div>
        </div>
    {% else %}
        <div class="container">
            {% block loginbody %} {% endblock %}
        </div>
    {% endif %}

        <div class="modal fade" id="modalAdmin" tabindex="-1" role="dialog" aria-hidden="true">
            <div id="modelContent" class="modal-dialog modal-lg"></div>
        </div>

        {% block javascript_footer %}{% endblock %}
        {% if is_granted('ROLE_ADMIN') %}
            <script>
                tinymce.init({
                    selector:'.tinymce',
                    browser_spellcheck: true,
                    branding: false,
                    theme: "modern",
                    menubar: false,
                    statusbar: false,
                    plugins: ['link', 'paste', 'image', 'media', 'code'],
                    image_advtab: true,
                    height : "480",
                    inline_styles : false,
                    toolbar: 'undo redo | styleselect | bold italic | link | image | code',
                    paste_auto_cleanup_on_paste : true,
                    paste_remove_styles: true,
                    paste_remove_styles_if_webkit: true,
                    paste_strip_class_attributes: true,
                    file_picker_callback: function(callback, value, meta) {
                        if (meta.filetype == 'image') {
                            $('#uploadTinyMce').trigger('click');
                            $('#uploadTinyMce').on('change', function() {
                                var file = this.files[0];
                                var reader = new FileReader();
                                reader.onload = function(e) {
                                    callback(e.target.result, {
                                        alt: ''
                                    });
                                };
                                reader.readAsDataURL(file);
                            });
                        }
                    },
                    images_upload_handler: function (blobInfo, success, failure) {
                        var xhr, formData;

                        xhr = new XMLHttpRequest();
                        xhr.withCredentials = false;
                        xhr.open('POST', Routing.generate('admin_image_upload') );

                        xhr.onload = function() {
                            var json;

                            if (xhr.status !== 200) {
                                failure('HTTP Error: ' + xhr.status);
                                return;
                            }

                            json = JSON.parse(xhr.responseText);

                            if (!json || typeof json.location !== 'string') {
                                failure('Invalid JSON: ' + xhr.responseText);
                                return;
                            }

                            success(json.location);
                        };

                        formData = new FormData();
                        formData.append('file', blobInfo.blob(), blobInfo.filename());

                        xhr.send(formData);
                    },
                    {#link_list: {{  render(controller('WebsiteBundle:Admin/Default:getAllPageUrls') ) }},#}
                    setup: function (editor) {
                        editor.on('change', function () {
                            editor.save();
                        });
                        editor.on('blur', function () {
                            editor.save();
                        });

                    }
                });
            </script>
        {% endif %}
    </body>
</html>